{% extends 'base.html' %}

{% block head %}
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="create-flashes">
            {% for message in messages %}
                <li class="check-file">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form action="/create", method="POST" enctype="multipart/form-data">
    <div>
        <label for="title">Title</label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="detail">Detail</label>
        <input type="text" name="detail">
        <input type="file" name="file">
        <select name="category">
            <option value="tops">Tops</option>
            <option value="bottoms">Bottoms</option>
        </select><br>
        <a href="/index" rule="button">Return</a>
        <button type="submit">Submit</button>
    </div>
</form>

{% if rgba_image is not none %}
<p>-------------------------------------------------------------------------------</p>
<ul>
    <li>{{ title }}</li>
    <li>{{ detail }}</li>
    <li>{{ category }}</li>
    <img  id="original-rgba" src="data:image/{{ mime_type }};base64,{{ rgba_image }}" alt="{{ filename }}">
</ul>
<a href="/save" role="button">Submit</a>

<!-- 画像がクリックされたときに表示される要素 -->>
<div id="rgba-container"></div>
<!-- トリミングを適用するボタン -->>
<button id="apply-crop">Apply Crop</button>

<form id="crop-form" action="/save" method="POST">
    <input type="hidden" id="crop-result" name="crop-result" value="">
    <button type="submit">Save</button>
</form>
{% endif %}
<link href="{{ url_for('static', filename='css/croppie.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/croppie.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/image_cropping.js') }}"></script>
{% endblock %}