{% extends 'base.html' %}

{% block head %}
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}

<a class="btn-return" href="/index" role="button">Return</a>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="create-flashes">
            {% for message in messages %}
                <li class="check">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form id="crop-form" action="/create", method="POST" enctype="multipart/form-data">
    <div>
        <label for="title">Title</label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="detail">Detail</label>
        <input type="text" name="detail">
        <input type="file" id="file-input">
        <select id="category" name="category">
            <option value="">カテゴリーを選択</option>
            <option value="tops">トップス</option>
            <option value="bottoms">ボトムス</option>
        </select><br>
    </div>
    <!-- トリミングする画像が表示される要素 -->
    <div id="cropped-container">
        <!-- トリミングされた画像のbase64エンコードデータを保持する隠しフィールド -->
        <input type="hidden" id="crop-result" name="crop-result" value="">
    </div>
    <button id="apply-crop" type="submit">トリミング</button>
</form>

<script>
    document.getElementById('crop-form').addEventListener('submit', function(e) {
        let category = document.getElementById('category').value;
        if (category === '') {
            alert('カテゴリーを選択してください');
            e.preventDefault();  // 登録を防ぐ
        }
    });
</script>

{% if cropped_image is not none %}
<p>-------------------------------------------------------------------------------</p>
<ul>
    <li>{{ title }}</li>
    <li>{{ detail }}</li>
    <li>{{ category }}</li>
    <img  id="original-cropped" src="data:image/jpeg;base64,{{ cropped_image }}" alt="cropped_image">
</ul>
<form id="submit-image-form" action="/save_cropped" method="POST">
    <input id="image-src-input" type="hidden" name="image-src-input", value="">
    <button class="submit-cropped" type="submit">そのまま保存する</button>
</form>

<form action="/save_rgba" method="POST">
    <button class="submit-rgba" type="submit">画像を透過して保存(10秒ほどかかります)</button>
</form>


{% endif %}
<link href="{{ url_for('static', filename='css/cropper.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/cropper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/crop.js') }}"></script>
{% endblock %}