{% extends 'base.html' %}

{% block body %}
<h2 style="text-align: center;">Detail</h2>
<div style="margin: auto;">
    <div>
        <h2>{{ post.title }}</h2>
        <p>{{ post.detail }}</p>
        <p>Category: {{ post.category }}</p>
        <img src="data:image/jpeg;base64,{{ restored_image }}" alt="{{ post.category }} data", style="width: 20%;">

        <a href="/index" role="button">Return</a>
        <a href="/update/{{ post.id }}" role="button">Update</a>
    </div>
</div>
{% endblock %}