{% extends 'base.html' %}

{% block head %}
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
<a class="btn-return" href="/index" role="button">Return</a>
<h1 style="text-align: center;">Detail</h1><br>
<div style="margin: auto;">
    <div class="detail-content">
        <h2>Title: {{ post.title }}</h2>
        <p>{{ post.detail }}</p>
        <p>Category: {{ post.category }}</p>
        <div class="image-button-container">
            <img class="detail-image" src="data:image/jpeg;base64,{{ restored_image }}" alt="{{ post.category }} data">
            <a class="detail-update" href="/update/{{ post.id }}" role="button">Update</a>
        </div>
    </div>
</div>
{% endblock %}