{% extends 'base.html' %}
{% block head %}
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block body %}
<a href="/create" role="button">Submit</a>
<a href="/outfit" role="button">登録されたコーディネートを見る</a>
<h2 class="head-title">Closet</h2>
<div class="container">
    <div>
        <h2>Tops</h2>
        <div class="item-container">
            {% for post in tops %}
                <div class="item">
                    <p>Title: {{ post.title }}</p>
                    <div id="tops">
                        <img  class="clothes-images" src="data:image/jpeg;base64,{{ restored_images_dict[post.id] }}" alt="{{ post.id }}">
                        <br>
                        <a href="detail/{{ post.id }}" role="button">Detail</a>
                        <a href="update/{{ post.id }}" role="button">Update</a>
                        <a href="delete/{{ post.id }}" role="button">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div>
        <h2>Bottoms</h2>
        <div class="item-container">
            {% for post in bottoms %}
                <div class="item">
                    <p>Title: {{ post.title }}</p>
                    <div id="bottoms">
                        <img class="clothes-images" src="data:image/jpeg;base64,{{ restored_images_dict[post.id] }}" alt="{{ post.id }}">
                        <br>
                        <a href="detail/{{ post.id }}" role="button">Detail</a>
                        <a href="update/{{ post.id }}" role="button">Update</a>
                        <a href="delete/{{ post.id }}" role="button">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <form action="/index" method="post" enctype="multipart/form-data">
        <br>
        <div class="display_area">
            <div id="tops_display_area">
                <input type="hidden" name="tops_image" id="tops_image">
            </div>
            <div id="bottoms_display_area">
                <input type="hidden" name="bottoms_image" id="bottoms_image">
            </div>
        </div><br>
        <button type="submit">組み合わせを登録</button>
    </form>
</div>
{% endblock %}