<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>

<header class="header">
    <nav class="navbar">
        <a class="navbar-login" href="/index">Closet-App</a>
        <a class="btn-logout" href="/logout" role="button">ログアウト</a>
    </nav>
</header>

<a class="create-button" href="/create" role="button">新規登録</a>
<a class="outfit-button" href="/outfit" role="button">コーデ一覧</a>
<p class="index-username">username: {{ username }} </p>

<h2 class="head-title">Closet</h2>
<div class="container">
    <div>
        <h2 style="margin-left: 20px;">トップス</h2>
        <div class="item-container">
            {% for post in tops %}
                <div class="item">
                    <p>Title: {{ post.title }}</p>
                    <div id="tops">
                        <img  class="clothes-images" src="{{ images_url_dict[post.image.id] }}" alt="{{ post.image.id }}">
                        <br>
                        <a class="btn-detail" href="detail/{{ post.id }}" role="button">Detail</a>
                        <a class="btn-update" href="update/{{ post.id }}" role="button">Update</a>
                        <a class="btn-delete" href="delete/{{ post.id }}" role="button">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div>
        <h2 style="margin-left: 20px;">ボトムス</h2>
        <div class="item-container">
            {% for post in bottoms %}
                <div class="item">
                    <p>Title: {{ post.title }}</p>
                    <div id="bottoms">
                        <img class="clothes-images" src="{{ images_url_dict[post.image.id] }}" alt="{{ post.image.id }}">
                        <br>
                        <a class="btn-detail" href="detail/{{ post.id }}" role="button">Detail</a>
                        <a class="btn-update" href="update/{{ post.id }}" role="button">Update</a>
                        <a class="btn-delete" href="delete/{{ post.id }}" role="button">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <form action="/outfit" method="post" enctype="multipart/form-data">
        <br>
        <div class="display_area">
            <div id="tops_display_area">
                <input type="hidden" name="tops_image" id="tops_image">
            </div>
            <div id="bottoms_display_area">
                <input type="hidden" name="bottoms_image" id="bottoms_image">
            </div>
        </div><br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="create-flashes">
                    {% for message in messages %}
                        <li class="check">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <button class="submit-outfit" type="submit">コーデを登録</button>
    </form>
</div>
</body>
</html>