{% extends 'base.html' %}
{% block body %}
<a href="/create" role="button">Submit</a>
{% for post in posts %}
<div style="margin: auto;">
    <div>
        <h2>タイトル：{{ post.title }}</h2>
        <p> {{ filename_dict[post.id] }}</p>
        <img src="data:image/jpeg;base64,{{ restored_images_dict[post.id] }}" alt="{{ filename_dict[post.id] }}", style="width: 20%;">
        <br>
        <a href="detail/{{ post.id }}" role="button">Detail</a>
        <a href="update/{{ post.id }}" role="button">Update</a>
        <a href="delete/{{ post.id }}" role="button">Delete</a>
    </div>
</div>
{% endfor %}
{% endblock %}