{% extends 'base.html' %}
{% block head %}
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
<a href="/index" role="button">Return</a>
<h2 class="head-title">Outfit</h2>
<h2>登録されたコーディネート</h2>
<div class="outfit-container">
    {% for image in outfit_images %}
        <div class="outfit">
            <img class="outfit_images" src="data:image/jpeg;base64,{{ restored_images_dict[image.tops_image_id] }}" alt="tops_image">
            <img class="outfit_images" src="data:image/jpeg;base64,{{ restored_images_dict[image.bottoms_image_id] }}" alt="bottoms_image">
            <a href="outfit/delete/{{ image.id }}" role="button">Delete</a>
            <br>
        </div>
    {% endfor %}
</div>
{% endblock %}