<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/main.css') }}">
    <title>closetApp</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a class="navbar-login" href="/">Closet-App Login</a>
        </nav>
    </header>
    <a class="signup-button" href="/signup" role="button">SIGNUP</a>
    <a class="login-button" href="/login" role="button">LOGIN</a>
</body>
</html>