<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/main.css') }}">
    <title>closetApp</title>
</head>
<body>
    <nav class="login-container">
        <div class="container-fluid">
            <a class="navbar-login" href="/" style="font-size: 2rem">Closet-App ログイン</a>
        </div>
    </nav>
    <a class="signup-button" href="/signup" role="button">SIGNUP</a>
    <a class="login-button" href="/login" role="button">LOGIN</a>
</body>
</html>